.card {
    border: #ccc solid 4px;
    border-radius: 30px;
    overflow: hidden;
    display: inline-block;
    width: 80vw;
    height: 600px;
}

.card img {
    width: 400px;
    aspect-ratio: 1;
}

.card p {
    width: 300px;
}

.text-section a {
    position: absolute;
    top: 80%;
    border: 3px white solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight: 700; /*not working, why?*/
}

.navigation-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot.highlighted {
    background-color: rgb(255, 255, 255);
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid #bbb;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid #bbb;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 10px solid #bbb;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right: 10px solid #bbb;
}

.current {
    color: red;
}