

#cards {
    display: flex;
    width: 450vw;
    position: relative;
    left: 0vw;
	transition: left 0.5s cubic-bezier(0.42, 0, 0.58, 1.0);
    
}

.card {
    border: #ccc solid 4px;
    border-radius: 30px;
    overflow: hidden;
    display: inline-block;
    width: 74vw;
    margin-inline: 8vw;
    height: 600px;
}

.card img {
    width: 400px;
}

.card p {
    width: 300px;
}

.text-section a {
    position: absolute;
    top: 80%;
    border: 3px white solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight: 700; /*not working, why?*/
}

#card-control-tray {
    margin-top: calc(var(--default-size) * 1/50);
    gap: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
}

.dot.highlighted {
    background-color: rgb(255, 255, 255);
    padding: 4px;
    margin: 0;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid #bbb;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid #bbb;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 10px solid #bbb;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right: 10px solid #bbb;
}