@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, hsl(226, 79%, 8%), hsl(227, 64%, 24%));
    color: white;
    background-repeat: no-repeat;
    font-family: 'poppins';
    height: max-content;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 200;
}

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: hsl(321, 93%, 48%);
    border-radius: 15px;
}

.circle {
    border-radius: 50%;
}

.navbar-list {
    position: relative;
    display: inline;
    position: absolute;
    left: 50%;
    top: 4vh;
    transform: translate(-50%, 0);
    font-size: 1.25em;
    letter-spacing: 7px;
}

.blobs-background {
    margin-top: 20px;
    position: absolute;
    height: 6000px;
    width: 100vw;
    top: 45vh;
    z-index: -1;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
}

.blobs-background img {
    position: absolute;
    width: 100%;
    min-width: 1500px;
    height: 6108px;
    left: 50%;
    transform: translate(-50%);
}

.links {
    width: max-content;
}

.links.row {
    display: flex;
    flex-direction: row;
}

.links a {
    font-size: 1.2em;
    display: block;
    text-align: center;
    font-weight: 400;
    margin-block: 40px;
    border: 4px solid white;
    border-radius: 20px;
    padding: 5px;
    padding-inline: 10px;
    width: 200px;
}

.links.row a {
    margin-block: 0;
    margin-inline: 40px;
}


/*
----------------------------------------------
First Section
----------------------------------------------
*/

.first-section-content {
    padding-inline: 5%;
    margin-top: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.first-section-title {
    font-size: 6.3em;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 5vh;
}

.first-section-text {
    font-size: 1em;
    width: 30vw;
    margin-top: -2%;

}

.first-section-content .circle {
    width: 240px;
    height: 240px;
    margin-inline: auto;
    background-color: antiquewhite;
}
  
.first-section-content .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.first-section-content .right .handles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.twitter-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: hsl(197, 100%, 45%);
    font-weight: 700;
    margin-right: 15px;
}

.discord-logo {
    display: flex;
    flex-direction: row;
    color: hsl(236, 89%, 65%);
    font-weight: 700;
    align-items: center;
    margin-right: 15px;
}

.github-logo {
    display: flex;
    flex-direction: row;
    color: rgb(103, 103, 103);
    font-weight: 700;
    align-items: center;
}

.Twitter-icon, .GitHub-icon, .Discord-icon {
    margin-right: 5px;
}
/*
----------------------------------------------
Second Section - Empty space
----------------------------------------------
*/

.second-section {
    text-align: center;
    width: 600px;
    left: 50%;
    transform: translate(-50%);
}

.second-section h1 {
    font-size: 2.2em;
}

.second-section h2 {
    margin-top: -3%;
    font-size: 2em;
}

#bouncy-arrow {
    position: relative;
    margin-top: 100px;
    animation: bounce 2s linear infinite;
    animation-timing-function: ease-in-out;
}

/*
----------------------------------------------
Third Section, Little -  The Programming Language
----------------------------------------------
*/

.third-section {
    margin-top: 77vh;
    padding-inline: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10vw;
}

.third-section h1 {
    font-size: 6.3em;
}

.code-io {
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
    padding: 20px;
    margin-top: 350px;
    height: fit-content;
}

.code-io iframe {
    width: 608px;
    height: 750px;
}

#code {
    height: 40vh;
    width: 600px;
    border: 0;
    outline: black solid 1;
    border-radius: 4px;
    background-color: rgb(16, 16, 16);
    color: white;
    resize: none;
    font-family:'Courier New', Courier, monospace;
    white-space: pre-wrap;
    padding: 4px;
}

#result {
    height: 40vh;
    width: 600px;
    border: 0;
    outline: black solid 1;
    border-radius: 4px;
    background-color: rgb(16, 16, 16);
    color: white;
    resize: none;
    font-family:'Courier New', Courier, monospace;
    padding: 4px;
}

.third-section .data {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.third-section .data h1 {
    font-size: 3em;
}

/*
----------------------------------------------
Fourth Section, EZworksheet
----------------------------------------------
*/


.fourth-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
    margin-top: -160px;
}

.fourth-content div {
    min-width: 30%;
}
.fourth-section {
    display: flex;
    margin-top: 300px;
    padding-inline: 5%;
    width: 100%;
}

.fourth-section .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.fourth-section .text-content h1 {
    font-size: 6.3em;
    margin-bottom: 2vh;
}

.fourth-section .text-content p {
    width: 80%;
    margin-left: 17%;
    text-align: justify;
}

.fourth-section .links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
}

/*
----------------------------------------------
Fifth Section, Vision
----------------------------------------------
*/

:root {
    --card-gap: 1000px;
    --half-card-width: 800px;
}

.fifth-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 500px;
    padding-inline: 5%;
    width: 90%;
}

#card-group {
    display: flex;
    flex-direction: row;
    position: relative;
    left: calc(50% - var(--half-card-width) - var(--card-gap));
}

.card {
    min-width: calc(var(--half-card-width) * 2);
    height: 600px;
    background: rgb(30, 30, 30);
    margin-inline: var(--card-gap);
    box-sizing: border-box;
    padding-inline: 55px;
    display: flex;
}

.fifth-section .controls {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.fifth-section .text-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 40px;
}

.fifth-section .text-content h1 {
    font-size: 6.3em;
    margin-bottom: 2vh;
}

.fifth-section .text-content .title {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.fifth-section .text-content p {
    width: 100%;
}

.fifth-section .links {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-left: 70px;
    margin-bottom: 30px;
    column-gap: 10px;
    flex-direction: row;
    
}

.fifth-content .links a {
    margin-block: 30px;
    height: min-content;
}

.fifth-section .vision-example {
    height: 800px;
    width: 79%;
    border-radius: 5px;
}

/*
----------------------------------------------
Sixth Section, Cool Crad
----------------------------------------------
*/

.sixth-section {
    height: 100vh;
}


@keyframes bounce {
    0%, 100% {
      top: 0;
    }
    50% {
      top: -20px;
    }
  }

@media screen and (max-width: 1400px) {
    .first-section-title, .third-section h1 {
        font-size: 4em;
    }

    .first-section-content .circle {
        width: 200px;
        height: 200px;
    }

    .handles {
        column-gap: 8px;
        display: flex;
        flex-direction: column;
    }

    .third-section {
        margin-top: 65vh;
    }

    .third-section .code-io {
        display: none;
    }

    .fourth-section h1 {
        font-size: 4em;
    }

    .fourth-content p {
        max-height: 400px;
        overflow: auto;
    }

    h1 {
        font-size: 4em;
    }
}
