body {
	color: #FFF;
	background-color: #480f62;
	font-family: 'Montserrat Alternates', sans-serif;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 5.2vw
}
h2 {
	font-size: 4.4vw
}
h3 {
	font-size: 3.6vw
}

p {
	font-size: 1.8vw;
}


nav {
	font-size: 1.5vw;
	font-weight: 600;
}

#mainpage-navbar {
	word-wrap: normal;
	color: #FFF;
	position: fixed;
	top: 30px;
	left: 67.5vw;
	display: flex;
	flex-direction: row;
	column-gap: 0.2vw;
}
small {
	font-weight: 300;
}

nav a {
	color: #FFF;
}

.mainview {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	top: 23vh;
	padding-inline: 80px;
}

#mainpage-triangle {		/*dot is for a class, #is for an id*/
	position: absolute;
	top: 56vh;
	left: 10vw;

	width: 0;
	height: 0;
	border-left: 9vw solid transparent;
	border-right: 9vw solid transparent;
	border-bottom: 15.5884572vw solid rgb(255, 255, 255);
	transform: rotate(40deg); 

}

#letsExploreTriangle {		/*dot is for a class, #is for an id*/
	position: absolute;
	top: 4.5vw;
	width: 0;
	height: 0;
	border-left: 1vw solid transparent;
	border-right:1vw solid transparent;
	border-bottom: calc(0.866*2vw) solid rgb(255, 255, 255);
	transform: rotate(180deg); 

}

#letsExploreTriangle:hover {
	cursor: pointer	;
}

.bottomPage {
	position: absolute;
	top: 82vh;
	animation: MoveUpDown 2s ease-in-out infinite;
}

@keyframes MoveUpDown {
	0% {
		top: 82vh;
	}
	50% {
		top: 85vh;
	}
	100% {
		top: 82vh;
	}
}

.centeredAbsolute {
	display: flex;
	position: absolute;
	left: 0;
	width: 99.1vw; 
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
	justify-content: center;
}

#navbarMoreMenu {
	text-decoration: underline;
}

.haxePage {
	position: absolute;
	left: 5vw;
	top:150vh;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	padding-bottom: 15vh;
}

.haxeDesc {
	margin-top: -10vh;
	width: 40vw;
	font-weight: 300;
}


.haxeLogo{
	width: 35vw;
	margin-top: 0vh;
	margin-left: 28vh;
}

/* ALLOW FOR DEBUGGING
* {
	outline: #414141 solid;
}*/
