@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, hsl(226, 79%, 8%), hsl(227, 64%, 24%));
    color: white;
    background-repeat: no-repeat;
    font-family: 'poppins';
    height: 120vh;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 200;
}


.circle {
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid black;
}


.navbar-list {
    position: relative;
    display: inline;
    position: absolute;
    left: 50%;
    top: 2vh;
    transform: translate(-50%, 0);
    letter-spacing: 3px;
    font-size: 1.25em;
}

.blobs-background {
    position: absolute;
    width: 100%;
    top: 420px;
    object-fit: cover;
    object-position: top;
    height: 560vh;
    z-index: -1;
}

/*
----------------------------------------------
First Section
----------------------------------------------
*/

.first-section-content {
    padding-inline: 5%;
    margin-top: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.first-section-title {
    font-size: 6.3em;
    font-weight: 300;
    margin-top: 0px;
}

.first-section-text {
    font-size: 1em;
    width: 30vw;
    margin-top: -2%;

}

.first-section-content .circle {
    width: 20vw;
    height: 20vw;
    background-color: antiquewhite;
}
  
.first-section-content .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.first-section-content .right .handles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.twitter-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: hsl(197, 100%, 45%);
    font-weight: 700;
}

.discord-logo {
    display: flex;
    flex-direction: row;
    color: hsl(236, 89%, 65%);
    font-weight: 700;
    align-items: center;

}

.github-logo {
    display: flex;
    flex-direction: row;
    color: rgb(103, 103, 103);
    font-weight: 700;
    align-items: center;

}

.Twitter-icon, .GitHub-icon, .Discord-icon {
    margin-right: 5px;
}



/*
----------------------------------------------
Second Section
----------------------------------------------
*/

.second-section {
    position: absolute;
    top: 78vh;
    text-align: center;
    width: 600px;
    left: 50%;
    transform: translate(-50%);
}

.second-section h1 {
    font-size: 2.2em;
}

.second-section h2 {
    margin-top: -3%;
    font-size: 2em;
}

.second-section .triangle {
    margin-top: -4%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 60px solid rgb(255, 255, 255); 
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#bouncy-arrow {
    position: relative;
    margin-top: 100px;
    animation: bounce 2s linear infinite;
    animation-timing-function: ease-in-out;
}

/*
----------------------------------------------
Third Section, Little -  The Programming Language
----------------------------------------------
*/

.third-section {
    position: absolute;
    top: 150vh;
    padding-inline: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10vw;
}

.third-section h1 {
    font-size: 6.3em;
}

.code-io {
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
    padding: 20px;
    margin-top: 250px;
    height: fit-content;

}

#code {
    height: 400px;
    width: 600px;
    border: 0;
    outline: black solid 1;
    border-radius: 4px;
    background-color: rgb(16, 16, 16);
    color: white;
    resize: none;
    font-family:'Courier New', Courier, monospace;
    white-space: pre-wrap;
}

#result {
    height: 400px;
    width: 600px;
    border: 0;
    outline: black solid 1;
    border-radius: 4px;
    background-color: rgb(16, 16, 16);
    color: white;
    resize: none;
    font-family:'Courier New', Courier, monospace;
}

#run {
    position: absolute;
    width: 100px;
    color: darkgoldenrod;
    font-weight: 900;
    font-family: 'poppins';
    background-color: rgb(45, 45, 45);
    outline: none;
    border: none;
    border-radius: 4px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    right: calc(5% + 20px + 5px);
    top: 655px;
}

#run:hover {
    background-color: rgb(60, 60, 60);
    cursor: pointer;
}
#run:active {
    background-color: rgb(30, 30, 30);
}

.third-section .data {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.third-section .data h1 {
    font-size: 3em;
}


@keyframes bounce {
    0%, 100% {
      top: 0;
    }
    50% {
      top: -20px;
    }
  }

@media screen and (max-width: 1200px) {
    .first-section-title, .third-section h1 {
        font-size: 4em;
    }

    .third-section {
        top: 160vh;
        gap: 5vw;
    }

    #code, #result {
        width: 350px;
        height: 300px;
    }
    #run {
        top: 465px;
    }

    .code-io {
        margin-top: 160px;
    }

    .third-section .data div {
        max-height: 500px;
        overflow-y: auto;
    }

}