html {
	font-size: max(min(1.2vw, 16px), 12px);
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.2rem;
}

p {
	font-size: 2rem;
}

body {
	margin: 0;
	font-family: 'Prompt', sans-serif;
	color: white;
	background: #202731;
}

section {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow-x: clip;
	align-items: center;
	min-height: 300px;
	padding-top: 100px;
}

.top-navbar {
	position: absolute;
	width: 100vw;
	height: 50px;
	top: 0;
	left: 0;
	background: rgb(0, 0, 0);
	padding-left: 20px;
	vertical-align: center;
	
}
.top-navbar * {
	position: relative;
	vertical-align: center;
	color: white;
	font-size: 1.5rem;
	font-weight: 500;
	opacity: 0.5;
	text-decoration: none;
	margin: 10px;
}