@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', Arial, Helvetica, sans-serif;

	overflow-x: hidden;
}

.section {
    width: 100%;
    height: 100vh;
}

.links {
    width: max-content;
}

.links.row {
    display: flex;
    flex-direction: row;
}

.links a {
    font-size: 1.2em;
    display: block;
    text-align: center;
    font-weight: 400;
    margin-block: 40px;
    border: 4px solid white;
    border-radius: 20px;
    padding: 5px;
    padding-inline: 10px;
    width: 200px;
    text-decoration: none;
    color: white;
    font-weight: 200;
}

.links.row a {
    margin-block: 0;
    margin-inline: 40px;
}

.highlight {
    font-weight: bolder;
    font-size: 1.5em;
    padding-block: 10px;
}

/*for flashing elements*/
flash {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
