#section-5 {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	
	border-bottom: #000000 solid 16px;
	z-index: -2;

}

#section-5 h1 {
    font-size: 5em;
    margin-block: 0 20px;
}

#section-5 .title {
	align-self: center;
}

#section-5 .pre-title {
	position: absolute;
	left: calc(50% - 7.5em);
	transform: translate(-50%);
}

#section-5 .data {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;
	gap: 20px;
}