#section-1 {
    display: block;

    /*height: 150vh;*/

    color: #fff;
    background-color: #000;
    /* background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent),radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent); */
    background-image: linear-gradient(to bottom, transparent, #81a5e02a)
}

#section-1-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#section-1 h1 {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50vh;
    transform: translate(0%, -50%);
    font-size: 10em;
}
