#section-4 {
	width: 100%;
	height: 100vh;
	background-color: #33239e;
	background: linear-gradient(to bottom right, #33239e, #8b006d);
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: center;

	color: white;

	border-bottom: #000 solid 16px;
	
	position: relative;
	z-index: 10000;
}

#section-4 .container {
	display: flex;
    flex-direction: row;
    justify-content: center;
	align-items: center;
}

#section-4 .content {
    max-width: 50vw;
}

#section-4 h1 {
    font-size: 6.3em;
    margin-block: 0 20px;
}

#section-4 .code-io {
	margin-left: 10vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
    padding: 20px;
	height: 70%;
    max-width: 30vw;
}

#section-4 .code-io iframe {
    width: 500px;
    height: 80vh;
}

#section-4 .code-io div {
	padding: 0;
	margin: 0;
	overflow: hidden;
	overflow-clip-margin: padding-box;
}

#section-4 .links.row {
	margin-bottom: 5vh;
}

#section-4 .typewriter a {

	border: 2px solid white;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
	font-size: 1.2em;
	text-decoration: none;

	text-align: center;
}

@media screen and (max-width: 900px) {
	#section-4 .code-io {
		display: none;
	}

	#section-4 .content {
		max-width: 90vw;
	}

	#section-4 .links.row {
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		max-width: 90vw;
		align-items: center;
	}

	#section-4 .links.row a {
		margin-block: 10px;
		margin-inline: 10px;
	}

	#section-4 {
		/* justify-content: flex-start; */
	}
}