body {
    background-color: #272727;
    color: rgb(212, 212, 212);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

h2 small {
    font-size: 12px;
    color: #999;
    font-weight: bold;
    /*make this look like a codeblock with background and round outline*/
    padding: 0.2em;
    border-radius: 0.5em;
    border: 2px solid rgb(17, 17, 17);
    font-family: monospace;
    background-color: #1f1e1e;
    
}

.downloadButton .downloadIcon {
    filter: invert(97%) sepia(0%) saturate(141%) hue-rotate(191deg) brightness(88%) contrast(93%);
    height: 16px;
    margin: 0px;
    padding: 0px;
}

.downloadButton:hover {
    color: white;
    cursor: pointer;
}

.downloadButton:hover .downloadIcon {
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
}


.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.codeblock {
    padding: 0.2em;
    border-radius: 0.5em;
    border: 1px solid rgb(17, 17, 17);
    font-family: monospace;
    background-color: #1f1e1e;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #efefef;
}

th,
td {
    padding: 4px;
    border: 1px solid #ccc;
}

td.outline {
    border-left: 2px dotted #06c;
    border-right: 2px dotted #06c;
}

tr:first-child>td.outline {
    border-top: 2px dotted #06c;
}

tr:last-child>td.outline {
    border-bottom: 2px dotted #06c;
}

th.outline {
    background-color: #99ccee;
    border: 2px dotted #06c
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.containerCell {
    margin-left: 10px;
    width: 50%;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    column-gap: 50px;
}

#changelog {
    border-left: #efefef solid 1px;
    padding-left: 20px;
}

@media screen and (max-width: 600px) {
    table {
        width: 100%;
    }
    th,
    td {
        padding: 4px;
        border: 1px solid #ccc;
    }
    td.outline {
        border-left: 2px dotted #06c;
        border-right: 2px dotted #06c;
    }
    tr:first-child>td.outline {
        border-top: 2px dotted #06c;
    }
    tr:last-child>td.outline {
        border-bottom: 2px dotted #06c;
    }
    th.outline {
        background-color: #99ccee;
        border: 2px dotted #06c
    }
    
    .container {
        display: flex;
        flex-direction: column;
    }

    #changelog {
        padding-left: 0px;
        border-left: none;
        border-top: #efefef solid 1px;
    }

    .containerCell {
        width: 100%;
    }
}