.blog-navbar {
    background-color: dimgray;
    border-style: solid;
    border-radius: 5px;
    width: 0%;
}

.blog-navbar-button {
    background-image: url("./blogNavButton.svg");
    border-radius: 5px;
}